<!DOCTYPE html>
<html ng-app="ShoppingListPromiseApp">
  <head>
    <title>Shopping List with a Promise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <style></style>
  </head>

  <body>
    <div class="container">
      <h1>Shopping List with a Promise</h1>

      <div ng-controller="ShoppingListPromiseController as list">
        <h3>Shopping List</h3>
        <input type="text" ng-model="list.itemName" placeholder="item name" />
        <input
          type="text"
          ng-model="list.itemQuantity"
          placeholder="quantity"
        />
        boxes
        <button ng-click="list.addItem();">Add Item</button>
        <ol>
          <li ng-repeat="item in list.items">
            {{ item.quantity }} boxes of {{ item.name }}
            <button ng-click="list.removeItem($index);">Remove Item</button>
          </li>
        </ol>
      </div>
    </div>

    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services.js"></script>
    <script src="/scripts/factories.js"></script>
    <script src="/scripts/providers.js"></script>
    <script src="/scripts/controllers.js"></script>
    <script src="/scripts/filters.js"></script>
  </body>
</html>
