<!DOCTYPE html>
<html ng-app="ShoppingList" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div ng-controller="ShoppingListController as list1">
        <input type="text" ng-model="list1.itemName" placeholder="item name" />
        <input
          type="text"
          ng-model="list1.Quantity"
          placeholder="item quantity"
        />
        <button ng-click="list1.addItem();">Add item to shopping list</button>
        <shopping-list
          items="list1.items"
          title="{{list1.title}}"
          removed-item="{{list1.removedItem}}"
          on-remove="list1.removeItem(itemIndex)"
          on-all-remove="list1.removeItems()"
        >
          <span class="error"> Error: {{list1.warning }} </span>
        </shopping-list>
        <br />
        <div class="alert alert-warning" ng-if="list1.flag">
          {{list1.emptyList}}
        </div>
        <div class="alert alert-warning" ng-if="list1.emptyItemMsg">
          {{list1.emptyItem}}
        </div>
      </div>
    </div>
    <script src="/scripts/jquery-3.6.0.min.js"></script>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services.js"></script>
    <script src="/scripts/factories.js"></script>
    <script src="/scripts/providers.js"></script>
    <script src="/scripts/controllers.js"></script>
    <script src="/scripts/directives.js"></script>
  </body>
</html>
