.indexPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.messagee {
  font-size: 1.3em;
  font-weight: bold;
}

.textboxGreen {
  color: #0f0;
}
.textboxRed {
  color: #f00;
}
.error {
  color: #f00;
}

.emptyMessage {
  font-weight: bold;
  color: red;
  font-size: 1.2em;
}
li {
  margin-bottom: 7px;
  font-size: 1.2em;
}
li > button {
  margin-left: 6px;
}
button > span {
  color: green;
}
